
.navbar{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 2px 2px 4px rgb(100, 94, 94);

}
.navbar .logo{
    width: 200px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    
    
}
.basket{
    width: 50px;
}
.navbar-basket-icon{
    position: absolute;

}

.navbar-basket-icon .dot{
    position:relative;
    max-width: 10px;
    min-height: 10px;
    background-color:tomato;
    border-radius: 5px;
    top:-43px;
    right: -50px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor:pointer;
    transition: 0.35s;
    
}
.navbar button:hover{
    background-color:#fff4f2;
}
.navbar li{
    cursor: pointer;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar .icon-set{
    border: none;
    display: none;
}

.navbar .icon-set img{
    width: 50px;
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
    .navbar-basket-icon .dot{
        max-width: 7px;
        min-height: 7px;
        top:-25px;
        right: -22px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 12px;
    }
}

@media (max-width:750px) {

    .navbar-menu{
    display: none;
    }
    
    .navbar-right{
        gap: 10px;
    }
    .navbar button{
        padding: 5px 15px;
    }
    .navbar .icon-set{
        border: none;
        display: block;
    }
    .navbar .icon-set img{
        width: 30px;
    }

}






